@media screen and (max-width: 1450px) {
    .nav-panel-wrapper {
        margin-left: 60px;
    }
}

@media screen and (max-width: 1300px) {
    .nav-panel-item {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1199px) {
    .nav-panel-item {
        margin: 0 20px;
    }

    .information-advantage {
        width: 90%;
    }

    .feedback-photo {
        right: 9px;
        bottom: -35px;
    }

    .feedback-photo img {
        width: 70px;
    }

    #retail .retail-block > div {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 992px) {
    .intro-navigation {
        top: 0;
        padding-top: 20px;
    }
    
    .nav-panel {
        display: none;
    }

    .nav-panel-btn {
        display: inline-block;
    }

    #information {
        padding: 20px 0;
    }

    #equipment {
        padding: 20px 0;
    }

    .offer-body {
        margin-bottom: 20px;
    }

    .equipment-submit {
        margin: 0 0 20px;
    }

    .equipment-submit button {
        display: block;
        margin: 20px auto 0;
    }

    #installation {
        padding: 20px 0;
    }

    #retail {
        padding: 20px 0 0;
    }

    .feedback-block {
        margin-bottom: 50px;
    }

    .feedback-photo {
        right: 20px;
        bottom: -50px;
    }

    .feedback-photo img {
        width: 100px;
    }

    #advantages {
        padding: 20px 0;
    }

    .advantages-block {
        margin: 10px 0;
    }

    #feedback {
        padding: 20px 0;
    }

    #gallery {
        padding: 20px 0;
    }

    #gallery .img-1 {
        width: 99%;
    }

    #gallery .img-6 {
        width: 49%;
    }

    #gallery .img-7 {
        width: 49%;
    }

    #articles {
        padding: 20px 0;
    }

    #articles article {
        margin-bottom: 20px;
    }

    footer {
        padding: 20px 0;
    }
}

@media screen and (max-width: 768px) {
    .list-inline {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {
    .information-advantage {
        width: 90%;
        margin: 20px 20px;
    }
}

@media screen and (max-width: 370px) {
    .feedback-photo {
        right: 9px;
        bottom: -35px;
    }

    .feedback-photo img {
        width: 70px;
    }
}