#advantages {
    min-height: 50vh;
    padding: 50px 0;

    @include large-screen {
        padding: 20px 0;
    }

    img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .row {
        padding: 20px 0 0;
    }

    .advantages-block {

        @include large-screen {
            margin: 10px 0;
        }

        article {
            margin-left: 20px;
        }

        .fas {
            font-size: 40px;
            color: #666666;
        }
    }
}