#equipment {
    min-height: 70vh;
    background-color: #f5f6f7;
    padding: 50px 0;
    padding-bottom: 10px;

    @include large-screen {
        padding: 20px 0;
    }

    h3 {
        margin-bottom: 30px;
    }

    .offer {
        transform: translate3d(0, 120%, 0);
        opacity: 0.3;
        transition: all 1000ms;

        .offer-header {
            text-align: center;
            font-weight: bold;
        }

        .offer-body {
            position: relative;
            width: 280px;
            height: 350px;
            margin: 0 auto;
            padding: 10px 40px 0;
            background-color: #fff;
            box-shadow: 0 4px 24px 5px rgba(33, 33, 33, 0.06);
            border-radius: 4px;
            box-sizing: border-box;

            @include large-screen {
                margin-bottom: 20px;
            }

            img {
                display: block;
                width: 100%;
                height: 100px;
                margin: 0 auto;
            }

            span {
                display: block;
                margin: 15px 0;
            }

            button {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100px;
                display: block;
                margin: 10px auto;
            }
        }
    }

    .equipment-submit {
        text-align: center;
        margin: 50px 0 20px;
        font-size: 1.2rem;

        @include large-screen {
            margin: 0 0 20px;
        }

        button {
            margin: 0 20px;

            @include large-screen {
                display: block;
                margin: 20px auto 0;
            }
        }
    }
}