#installation {
    min-height: 50vh;
    padding: 50px 0 0;

    @include large-screen {
        padding: 20px 0;
    }

    h3 {
        margin-bottom: 30px;
    }

    .stage {
        margin: 10px 0 50px;

        img {
            width: 100px;
            height: 100px;
        }

        .stage-info {
            margin-left: 20px;
        }
    }
}