#usage {
    min-height: 80vh;
    position: relative;

    .container {
        @include align-center;
    }

    .usage-block-img {

        img {
            width: 200px;
            height: 150px;
            display: block;
            margin: 0 auto;
        }
    }

    .usage-block-info {
        text-align: center;
    }
}