@media screen and (max-width: 1450px) {
    .nav-panel-wrapper {
        margin-left: 60px;
    }
}

@media screen and (max-width: 1300px) {
    .nav-panel-item {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1199px) {
    .nav-panel-item {
        margin: 0 20px;
    }

    .feedback-photo {
        right: 9px;
        bottom: -35px;
    }

    .feedback-photo img {
        width: 70px;
    }

    #retail .retail-block > div {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 992px) {
    .intro-navigation {
        top: 0;
        padding-top: 20px;
    }

    .intro-logo {
        transform: translate(0, 0);
    }
    
    .nav-panel {
        display: none;
    }

    .nav-panel-btn {
        display: inline-block;
    }

    .backdrop-menu {
        display: block;
    }

    .intro-information {
        top: 40%;
        transform: translate(0, 0);
        flex-direction: column;
    }

    .intro-title {
        width: 100%;
    }

    .intro-title h1 {
        font-size: 2rem;
    }

    .intro-title h2 {
        font-size: 1.5rem;
    }

    .intro-form {
        margin: 10px auto;
    }

    .solar-info-article {
        width: 100%;
    }

    .solar-info-article p {
        font-size: 1.3rem;
    }

    #equipment {
        padding: 20px 0;
    }

    .offer-body {
        margin-bottom: 20px;
    }

    .equipment-submit {
        margin: 0 0 20px;
    }

    .equipment-submit button {
        display: block;
        margin: 20px auto 0;
    }

    #installation {
        padding: 20px 0;
    }

    #retail {
        padding: 20px 0 0;
    }

    .feedback-block {
        margin-bottom: 50px;
    }

    .feedback-photo {
        right: 20px;
        bottom: -50px;
    }

    .feedback-photo img {
        width: 100px;
    }

    #advantages {
        padding: 20px 0;
    }

    .advantages-block {
        margin: 10px 0;
    }

    #feedback {
        padding: 20px 0;
    }

    #articles {
        padding: 20px 0;
    }

    #articles article {
        margin-bottom: 20px;
    }

    footer {
        padding: 20px 0;
    }
}

@media screen and (max-width: 670px) {
    .intro-navigation {
        margin: 0;
    }

    .nav-panel-btn {
        right: 20px;
    }

    .intro-information {
        top: 30%;
    }

    .solar-info-article h3 {
        font-size: 1.8rem;
    }

    .solar-info-article p {
        font-size: 1.2rem;
    }

    .solar-info-article article {
        line-height: 1.5;
    }
}

@media screen and (max-width: 576px) {
    .intro-navigation {
        padding: 20px 0;
    }

    .intro-logo {
        transform: scale(0.8);
    }

    .intro-title h1 {
        font-size: 1.5rem;
    }

    .intro-title h2 {
        font-size: 1.3rem;
    }
    
    .intro-form {
        width: 90%;
    }
}

@media screen and (max-width: 370px) {
    .feedback-photo {
        right: 9px;
        bottom: -35px;
    }

    .feedback-photo img {
        width: 70px;
    }
}